.box-layout {
    background: url('/images/bg.jpg');
    background-size:cover;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-layout__box {
    background:fade-out(#fff, .15);
    border-radius: 20px;
    text-align: center;
    width:25rem;
    padding : $l-size $m-size;
};

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}