.button {
    background-color: $medium-blue;
    border:0;
    border-radius: 15px;
    color:$off-white;
    display:inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size $m-size;
    text-align: center;
    text-decoration: none;
}

.button--link {
    background:none;
    border:none;
}

.button--secondary {
    @extend button;
    background-color:#888888;
}