// $off-black : #20222b;
// $dark-blue : #333745;
// $purple : #8357c5;
// $off-white : #a5afd7;
// $blue : #3c4251;
// $light-blue:#464b5e;
$off-white : #ffffff;
$off-grey :  #f7f7f7;
$dark-blue:#364051;
$medium-blue: #0E76A9;
$dark-grey : #333333;
$grey:#666;
//font-size
$font-size-large : 1.8rem;
$font-size-small : 1.4rem;
//spacing
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;
$xxl-size : 7.2rem;
$desktop-breakpoint : 45rem;